<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<array>
		<string>CMaj7</string>
		<string>Dmin7</string>
		<string>Emin7</string>
		<string>FMaj7</string>
		<string>G7</string>
		<string>Amin</string>
		<string>Bdim</string>
	</array>
	<key>D</key>
	<array>
		<string>DMaj7</string>
		<string>Emin7</string>
		<string>F#min7</string>
		<string>GMaj7</string>
		<string>A7</string>
		<string>Bmin</string>
		<string>C#dim</string>
	</array>
	<key>E</key>
	<array>
		<string>EMaj7</string>
		<string>F#min</string>
		<string>G#min</string>
		<string>AMaj7</string>
		<string>B7</string>
		<string>C#min</string>
		<string>D#dim</string>
	</array>
	<key>F</key>
	<array>
		<string>FMaj7</string>
		<string>Gmin7</string>
		<string>Amin7</string>
		<string>BbMaj7</string>
		<string>C7</string>
		<string>Dmin</string>
		<string>Edim</string>
	</array>
	<key>G</key>
	<array>
		<string>GMaj7</string>
		<string>Amin7</string>
		<string>Bmin7</string>
		<string>CMaj7</string>
		<string>D7</string>
		<string>Emin</string>
		<string>F#dim</string>
	</array>
	<key>A</key>
	<array>
		<string>AMaj7</string>
		<string>Bmin</string>
		<string>C#min</string>
		<string>DMaj7</string>
		<string>E7</string>
		<string>F#min</string>
		<string>G#dim</string>
	</array>
	<key>B</key>
	<array>
		<string>BMaj7</string>
		<string>C#min</string>
		<string>D#min</string>
		<string>EMaj7</string>
		<string>F#7</string>
		<string>G#min</string>
		<string>A#dim</string>
	</array>
</dict>
</plist>
